@page "/"

<SurveyPrompt Title="Welcom to FRCM Application" />
<footer class="footer fixed-bottom bg-secondary">
	<div class="row">
		<div class="container text-center align-items-center text-info col-lg-11 col-sm-9 ">
			&copy; 2023 All rights reserved FRCM ; Urban Resilience Project, Rajuk
		</div>
		<div class="col-lg-1 col-sm-3 align-items-end">
			<MauiBlazorApp.Pages.Razor.Logout />
		</div>
	</div>
</footer>